@model PagedList.IPagedList<MovieModelsData.Models.Movie>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Movie List";
}

<h2>Movie List</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Movies", null, new { @class = "btn-info btn-lg" })   @Html.ActionLink("Export List", "ExportList", "Movies", null, new { @class = "btn-info btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Title
        </th>
        <th>
            Release Date
        </th>
        <th>
            Director
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.ReleaseDate != null)
                {
                    @item.ReleaseDate.Value.ToString("MM/dd/yyyy");
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr> 
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))